* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/*------------------------ Header Styles -------------------------*/
.header {
    background-image: url("./images/banner3.png");
    background-repeat: no-repeat;
    height: 808px;
    width: 1600px;
}

.header-section {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    padding-right: 100px;
    padding-top: 216px;
    width: 35%;
    color: #ffffff;
}

.header-section h1 {
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 10px;
    font-weight: 700;
}

.header-section p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header-section button {
    color: #005fac;
    padding: 21px 26px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

/* ------------------------ Main Styles, Failure-Section -------------------------- */
.failure-section {
    display: flex;
    align-items: center;
    gap: 87px;
    margin: 131px 322px 129px 206px;
}

.failure-section .failure-div-2 h1 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-section .failure-div-2 p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-check-1 i,
.failure-check-2 i,
.failure-check-3 i,
.failure-check-4 i,
.failure-check-5 i {
    color: #18d887;
}

.failure-check-1,
.failure-check-2,
.failure-check-3,
.failure-check-4,
.failure-check-5 {
    margin-bottom: 8px;
}

/* ------------------------ Main Styles, Plans-Section -------------------------- */
.plan-container {
    text-align: center;
}

.plan-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.plans {
    margin: 50px 230px 130px 230px;
    display: flex;
    justify-content: center;
    gap: 86px;
}

.plan-1 h2,
.plan-2 h2,
.plan-3 h2,
.plan-4 h2 {
    margin-bottom: 16px;
}

.plan-1 p,
.plan-2 p,
.plan-3 p,
.plan-4 p {
    color: #737272;
}

/* ------------------------ Main Styles, Call-Now-Section -------------------------- */
.call-now-section {
    width: 100%;
}
.call-now-container {
    background-image: url("./images/gradient1.png"), url("./images/watch.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, center;
    width: 1140px;
    height: 300px;
    margin: auto;
    padding-left: 50px;
}

.call-now-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
    width: 459px;
    height: 94px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.call-now-container button {
    width: 160px;
    height: 64px;
    border-radius: 10px;
    padding: 21px 26px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #ffffff;
    border: none;
    outline: none;
}

.call-now-container button a {
    border: none;
    outline: none;
    text-decoration: none;
    color: #005fac;
}

/* ------------------------ Main Styles, For Bonus Mark, Iron-Man-Section -------------------------- */
.hero-section {
    width: 1140px;
    margin: auto;
}

.hero-section h1 {
    font-size: xx-large;
    color: #005fac;
    margin-top: 130px;
    text-align: center;
    margin-bottom: 20px;
}

.hrow-1,
.hrow-2,
.hrow-3,
.hrow-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 150px;
}

.hrow-1 img,
.hrow-2 img,
.hrow-3 img,
.hrow-4 img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.hrow-1 p,
.hrow-2 p,
.hrow-3 p,
.hrow-4 p {
    padding: 50px;
    border-radius: 10px;
}

.hrow-1 p {
    background-image: url("./images/gradient1.png");
    color: #ffffff;
}

.hrow-2 p {
    background-image: url("./images/gradient2.png");
    color: #ffffff;
}

.hrow-3 p {
    background-image: url("./images/gradient1.png");
    color: #ffffff;
}

.hrow-4 p {
    background-image: url("./images/gradient2.png");
    color: #ffffff;
}

/* ------------------------ Footer Styles, Footer-Section -------------------------- */
.footer-section {
    display: flex;
    gap: 331px;
    padding: 130px 229px 130px 230px;
    background-color: #151414;
    color: #ffffff;
}

.col-1 button {
    background: none;
    border: none;
    outline: none;
}

.col-2 input {
    width: 300px;
    height: 34px;
    background-color: #151414;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
}

.col-2 button {
    background-color: #005fac;
    color: #ffffff;
    padding: 20px 36px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.col-2 button a {
    text-decoration: none;
    color: white;
}
